<div id="sponsors">
    <img src="/img/acis_signature_blue02.jpg" alt="ACIS Lab logo">
    <img src="/img/A_T_T.png" alt="AT&T logo">
    <img src="/img/CECEA_LOGO_v.jpg" alt="CECEA logo">
    <img src="/img/city of gainesville.png" alt="City of Gainesville logo">
    <img src="/img/code-for-gators-green.png" alt="Code for Gators logo">
    <img src="/img/ece.jpg" alt="UF Electrical and Computer Engineering logo">
    <img src="/img/2_logo-nict-en.png" alt="NICT logo">
    <img src="/img/nsf1_for_web.jpg" alt="National Science Foundation logo">
    <img src="/img/UF.png" alt="University of Florida logo">
</div>
