---
layout: default
---
<div class="container">
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="padding: 0px">
    <img src="{{ site.baseurl }}/{{ page.feature-img }}" alt="{% if page.feature-img-alt %}{{ page.feature-img-alt }}{% else %}Promotional banner for CENTRA 9 Meeting, January 11-13, 2026, Pathumthani, Thailand{% endif %}" style="width: 100%; height: 100%;">
  </header>

  <section class="post-content">{% include centra9combinedmenu.html %}{{ content }}<div style="text-align: center; width: 100%; height: 150px;"><img src="/img/centra9/centra9-footer.png" style="height: 150px;"></div></section>
	</article>

</div>
