---
layout: default
---
<div class="container">
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="padding: 0px">
    <img src="{{ site.baseurl }}/{{ page.feature-img }}" alt="{% if page.feature-img-alt %}{{ page.feature-img-alt }}{% else %}Promotional banner for CENTRA 5 Meeting, September 15-17, 2021, Porto, Portugal{% endif %}" style="width: 100%; height: 100%;">
  </header>

  <section class="post-content">{% include centra5combinedmenu.html %}{{ content }}<div style="text-align: right;"><img src="/img/INESCTEC logo.png"></div></section>
	</article>

</div>
