---
layout: default
---
<div class="container">
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="padding: 0px">
    <img src="{{ site.baseurl }}/{{ page.feature-img }}" alt="{% if page.feature-img-alt %}{{ page.feature-img-alt }}{% else %}Promotional banner for CENTRA 10 Meeting, March 14-17, 2027, Corvalis, Oregon, US{% endif %}" style="width: 100%; height: 100%;">
  </header>

  <section class="post-content">{% include centra9combinedmenu.html %}{{ content }}<div style="text-align: center; width: 100%; height: 150px;"><img src="/img/centra10/centra10-footer.png" style="height: 150px;" alt="CENTRA 10 footer banner with partner logos"></div></section>
	</article>

</div>
